<p id="notice"><%= notice %></p>

<p>
  <%= check_box_tag :task_done, "", @task.done%>
  <%= @task.title %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @task.project.name, @task.project %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

<h2>Comments</h2>

<ol>
  <% @task.comments.each do |comment|%>
    <blockquote>
      <%= comment.body%>
    </blockquote>
  <% end %>
</ol>
